@model IEnumerable<MessageBoard.Data.Topic>
@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
<script src="~/Js/home-index.js"></script>
}


<div id="ngController" ng-controller="HomeIndexController">
    <div class="message-header">
        <h1>Message Board</h1>
        <p class="lead">Lastest Messages...</p>
        <div>Message Count: {{ dataCount }}</div>
    </div>
    
    <div class="messages">
        <div class="message row" data-ng-repeat="i in data">
            <div class="title col-lg-10">
                {{ i.title }}
            </div>
            <div class="date col-lg-2 text-right">
                {{ i.created }}
            </div>
            <div class="content col-lg-12">
               {{ i.body }}
            </div>
            <div class="toolbar col-lg-12">
                <button class="btn btn-primary btn-sm reply-button">
                    Reply
                </button>
            </div>
            <div class="replies col-lg-12">
                <div class="reply">
                    <div class="date pull-right">
                        Feb 08, 2013
                    </div>
                    <div class="content">
                        Nobody cares. Walls of texts should be free of links, different font colors, strange characters, which are those other symbols used in society, and capital letters because it ruins the whole purpose of the infamy of walls of texts. It makes them look fucking dumb and weird. Walls of texts are obviously free of huge spaces and outstanding things like capital letters. Of course, paragraphs should never be in a wall of text. Walls of text are known to create nausea, confusion, head explosion, and others. The others being something I can not think of either because I am lazy or if I do not feel like it or I can not actually think.
                    </div>


                </div>

                <div class="reply">
                    <div class="date pull-right">
                        Feb 08, 2013
                    </div>
                    <div class="content">
                        My hand in this card game is phenominal
                    </div>

                </div>


                <div class="reply">
                    <div class="date pull-right">
                        Feb 08, 2013
                    </div>
                    <div class="content">
                        urages walls of text. I highly doubt any place does support something so irritating and annoying, but anything can exist, but not really because unless you are in heaven then that can happen. But no one actually knows that was just a hypothesis, a lame one that is. Actually not really lame. You can created.
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>