@{
    ViewBag.Title = "Home Page";
}

<div class="message-header">
    <h1>Message Board</h1>
    <p class="lead">Lastest Messages...</p>
</div>

<div class="messages">
    <div class="message row">
        <div class="title col-lg-10">
            This is a title
        </div>
        <div class="date col-lg-2 text-right">
            Feb 12, 2013
        </div>
        <div class="content col-lg-12">
            A wall of text is something that is frowned upon in most, actually virtually all Internet societies, including forums, chat boards, and Uncyclopedia. You should not make walls of text because it can get you banned anywhere unless it is a place that encourages walls of text. I highly doubt any place does support something so irritating and annoying, but anything can exist, but not really because unless you are in heaven then that can happen. But no one actually knows that was just a hypothesis, a lame one that is. Actually not really lame. You can create a wall of text supporting site, but you would be hated if you do that, so do not. But you can if you like, but I discourage that. Now on to the actual information of walls of texts. The wall of text was invented when the Internet was invented, but actually it was slow at that time. So whenever it became fast. But there would need to be some free or not free community for people, and that community would be able to have walls of text. But that community probably wouldn't have actually invented the wall of text. So basically, no one except God and Al Gore knows when or where or how the wall of text existed/was invented. Noobs probably invented, but probably not. Who knows. Walls of texts are usually filled with a lot of useless information and junk. Information and junk can be the same, but only if the information is junk or the junk is information. But who cares. The information/junk inside a wall of text are usually related to wherever the wall
        </div>
        <div class="toolbar col-lg-12">
            <button class="btn btn-primary btn-sm reply-button">
                Reply
            </button>
        </div>
        <div class="replies col-lg-12">
            <div class="reply">
                <div class="date pull-right">
                    Feb 08, 2013
                </div>
                <div class="content">
                    Nobody cares. Walls of texts should be free of links, different font colors, strange characters, which are those other symbols used in society, and capital letters because it ruins the whole purpose of the infamy of walls of texts. It makes them look fucking dumb and weird. Walls of texts are obviously free of huge spaces and outstanding things like capital letters. Of course, paragraphs should never be in a wall of text. Walls of text are known to create nausea, confusion, head explosion, and others. The others being something I can not think of either because I am lazy or if I do not feel like it or I can not actually think.
                </div>


            </div>

            <div class="reply">
                <div class="date pull-right">
                    Feb 08, 2013
                </div>
                <div class="content">
                    My hand in this card game is phenominal
                </div>

            </div>


            <div class="reply">
                <div class="date pull-right">
                    Feb 08, 2013
                </div>
                <div class="content">
                    urages walls of text. I highly doubt any place does support something so irritating and annoying, but anything can exist, but not really because unless you are in heaven then that can happen. But no one actually knows that was just a hypothesis, a lame one that is. Actually not really lame. You can created.
                </div>

            </div>
        </div>
    </div>

</div>
