<div>
    <div class="message-header">
        <h1>Message Board</h1>
        <p class="lead">Lastest Messages...</p>
        <div>Message Count: {{ data.length }}</div>
    </div>

    <div>
        <a href="#/newmessage" class="btn btn-primary">Add New Message</a>
    </div>

    <div class="progress progress-striped" data-ng-show="isBusy">
        <div class="progress-bar progress-bar-info active" role="progressbar" style="width:100%;"></div>
    </div>

    <div class="messages">
        <div class="message row" data-ng-repeat="i in data">
            <div class="title col-lg-9">
                {{ i.title }}
            </div>
            <div class="date col-lg-3 text-right">
                {{ i.created | date:"medium" }}
            </div>
            <div class="content col-lg-12">
                {{ i.body }}
            </div>
            <div class="toolbar col-lg-12">
                <button class="btn btn-primary btn-sm reply-button">
                    Reply
                </button>
            </div>
            <div class="replies col-lg-12">
                <div class="reply" data-ng-repeat="r in i.replies">
                    <div class="date pull-right">
                        {{ r.created | date:"medium" }}
                    </div>
                    <div class="content">
                        {{ r.body }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>